body{
    /* height : 175vh; */
}


.upper-content{
    display: flex;
    flex-direction: row;
    height: 100vh;
    min-height: 400px;
}

.left-side{
    flex-grow: 0;
    display: inline-flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 10%;
    margin-left: 5%;
    margin-top: 4%;

}

.right-side{
    flex-grow: 3;
    display: inline-flex;
    flex-direction: column;
    flex-wrap: wrap;
    margin-top: 4%;
    gap: 10%;
} 

.strategies-div{
    height:10%;
    width:100%
} 

.main-stats-div{
    height: 75%;
    background-color: #f9f9f9;
    text-align: center;
    box-shadow:2px 2px 2px lightgrey;
    max-width: 46vh;
    min-width: 46vh;
}

.summary-div{
    height:10%;
    margin:0 8% 0 5%;
    display: inline-flex;
    justify-content: flex-end;
    gap: 10%;
    align-items: flex-end;
}


.charts-div{
    margin:0 5%;
    height: 75%;
    background-color: #f9f9f9;
    text-align: center;
    box-shadow:2px 2px 2px lightgrey;    
    display: flex;
    flex-direction: column;
}

.charts-content{
    display: flex;
    flex-direction: row;
    height: calc(100% - 47px)
}

.left-chart-div{
    flex-grow: 2;
    max-width: 70%;
}

.right-chart-div{
    flex-grow: 1;
    display:flex;
    flex-direction: column;
    height: 100%;
}

.left-chart-div > div {
    height: 100%;
}

#main-chart {
    height: 100%;
}

.bottom-content{
    display: flex;
    flex-direction: row;
    height: 70vh;
}

.trades-content{
    flex-grow: 1.5;
    margin-left:5%;
    background-color: #f9f9f9;
    text-align: center;
    box-shadow:2px 2px 2px lightgrey;    
    display: flex;
    flex-direction: column;
    /* width: 50%; */
    min-height: 600px;
}

.returns-content{
    flex-grow: 1.25;
    margin-left: 4%; 
    margin-right: 3.5%;
    overflow: scroll;

    background-color: #f9f9f9;
    text-align: center;
    box-shadow:2px 2px 2px lightgrey;    
    display: flex;
    flex-direction: column;
    width: 10%;
    min-height: 600px;
}


.dash-spreadsheet-menu div{
    margin-left: 85%;
    margin-bottom: 2%;
}

.export{
    padding:9px 25px;
    background-color: rgba(0,136,169,1);
    border:none;
    border-radius: 50px;
    cursor: pointer;
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    font-size: 14px;
    color:#edf0f1;
    text-decoration: None;
}
.export:hover {
    background-color: rgba(0,136,169,0.8);
}

.trades-table-div{
    position: relative;
    width: 90%;
    align-self: center;
    margin-bottom: 3%;
}

.returns-content{
    display: flex;
    flex-direction: column; 
}


#graphs-options{
    text-align: left;
    margin-left: 5%;
}

#pnl-percent{
    color: rgb(187, 11, 11);
    flex-grow: 1;
}

#drawdown-percent{
    color: rgb(187, 11, 11);
    flex-grow: 1;
}

#strategies-description *{
    text-align: left;
    margin:10% 5%;
}

#strategies-parameters p{
    text-align: center;
    margin:10% 5%;
}

#strategies-summary{
    flex: 0 1 auto;
    text-align: left;
    margin:10% 6% 0% 5%;
}

#strategies-summary > div {
    display: flex;
    justify-content: space-between;
}

.right-chart-div > div:last-child {
    flex: 1 1 auto;
    display: flex;
    justify-content:center;
    align-items: center;
}

#assets-pie{
    padding: 0 20px;
    margin: 0 auto;
    max-width: 250px;
    min-width: 250px;
}

#trades-report-header{
    margin-left: 5%;
    margin-bottom: 2%;
    margin-top: 2%;
    text-align: left;
    font-weight: 200;
}

#basket-returns-barchart{
    margin-top: 5%;
    max-width: 60%;
    margin-left: 20%;
}

#basket-returns-pie{
    max-width: 60%;
    margin-left: 20%;
}

#breakdown-header{
    margin-left: 5%;
    margin-bottom: 2%;
    margin-top: 2%;
    text-align: left;
    font-weight: 200;
}