.markert-search{
    width: 70%;
    /* overflow: scroll; */
    margin:auto
}


#report-info{
    height: 70px;
    overflow-y: scroll;
}

#report-table{
    overflow-x: scroll;
}

#search-keyword{
    width: 30%;
    height:60%;
    margin-bottom: 2%;
}

#no-result-output{
    margin-top: -1%;
}