.title {
    margin-top: 30px;
    font-size: 20px;
}

.sentiment-div {

}

.search-div {
    width: 100%;
    margin-left: 5%;
}

.search-box {
    height: 40px;
    width: 80%;
    padding-left: 10px;
    padding-right: 10px;
}

.suggestion-div {
    margin-top: 20px;
    margin-bottom: 20px;
    height: 40px;
    width: 90%;
}

button.suggestion-btn {
    background-color: rgb(179, 240, 255);
    border:none;
    border-radius: 5px;
    margin-right: 5px;
    cursor: pointer;
    color: rgb(41, 41, 41);
    transition: all 0.3s ease 0s;
}

button.suggestion-btn:hover {
    background-color: linear-gradient(rgb(179, 240, 255), rgba(106, 225, 255, 0.8));
}

#sentiment-graph {
    background-color:white;
    padding: 10px;
    margin: 10px 0;
    width:70%;
    text-align: center;
    box-shadow:2px 2px 2px lightgrey;
}

#graph-controls {
    display:flex;
    flex-direction: row;
    justify-content:space-around;
    align-items: center;
    width:100%;
}

#graph-controls > * {
    width:25%;
}

.news-container {
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    height: 550px;
    width: 90%;
    margin-left: 5%;
}

#sentiment-news {
    background-color:white;

    padding: 10px;
    margin: 10px;
    width:28%;
    text-align: center;
    box-shadow:2px 2px 2px lightgrey;
}

#news-list {
    overflow-y:scroll;
    height: 90%;
}

#news-list::-webkit-scrollbar-track
{
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	border-radius: 10px;
	background-color: #F5F5F5;
}

#news-list::-webkit-scrollbar
{
	width: 7px;
	background-color: #F5F5F5;
}

#news-list::-webkit-scrollbar-thumb
{
	border-radius: 10px;
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
	background-color: #555;
}

.news-card {
    margin-bottom:5px;
}

.news-card-footer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-content: center;

    padding: 3px 30px;
    height:2em;
}