

.title {
    margin-top: 30px;
    font-size: 20px;
}

.search-div {
    margin: 0 5%;
}

.search-box {
    height: 40px;
    width: 80%;
    padding-left: 10px;
    padding-right: 10px;
}

.suggestion-div {
    margin-top: 10px;
    margin-bottom: 10px;
    height: 40px;
    width: 100%;
}

.sentiment-div {
    /* max-height:50%; */
    height: 65vh;
    min-height: 400px;
}

#sentiment-graph {
    background-color:white;
    padding: 10px;
    width:70%;
    text-align: center;
    box-shadow:2px 2px 2px lightgrey;

    display: flex;
    flex-flow: column;
    height: 100%;
}

#sentiment-graph > div:last-child {
    flex: 1 1 auto;
}

#sentiment-chart {
    height: 100%;
}

#graph-controls {
    flex: 0 1 auto;

    display:flex;
    flex-direction: row;
    justify-content:space-around;
    align-items: center;
    width:100%;
}

#price-controls {
    display:flex;
    flex-direction: row;
    align-items: center;
    white-space: nowrap;
    min-width: 250px;
    justify-content:space-between;
}

/* #graph-controls > * {
    width:25%;
} */

#graph-controls > div.dash-dropdown {
    width: 150px;
    text-align: left;
}

#graph-controls * div.dash-dropdown {
    width: 150px;
    text-align: left;
}

.news-container {
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    width: 90%;
    margin: 0 auto;
    height: 60vh;
}

#sentiment-news {
    background-color:white;
    width: calc(30% - 10px);
    text-align: center;
    box-shadow:2px 2px 2px lightgrey;

    display: flex;
    flex-direction: column;

    height: 100%;

}

.news-list-title {
    padding: 10px 10px 0px 10px;
}

#sentiment-news > div:last-child {
    flex-grow: 1;
    margin: 10px;
    overflow-y:scroll;
}

#sentiment-news > div:last-child::-webkit-scrollbar-track
{
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	border-radius: 10px;
	background-color: #F5F5F5;
}

#sentiment-news > div:last-child::-webkit-scrollbar
{
	width: 7px;
	background-color: #F5F5F5;
}

#sentiment-news > div:last-child::-webkit-scrollbar-thumb
{
	border-radius: 10px;
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
	background-color: #555;
}

.news-card {
    margin:5px;
}

.card-title {
    margin: 0px;
    padding: 5px;
    font-weight: bold;
}

.card-text {
    padding: 10px;
    text-align: justify;
}

.card-text > p {
    margin: 0px;
}

.news-url {
    font-size: 12px;
}

.news-url:link {
    color: darkblue;
}
.news-url:hover {
    color: blue;
}

.news-url:visited {
    color:darkblue;
}

.news-card-footer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-content: center;

    padding: 3px 17.5px;
}

.news-card-footer > * {
    margin: 0px;
}